button{


    &.googleSingin{
        background-color: #2196F3;
    }
    &:hover{
        cursor: pointer;
    }
}

.btn-group {
    display: flex;
    justify-content: space-between;
}

.signin {
    width: 400px;
}